*,
html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font: 1rem "Lucida Grande", Helvetica, Arial, sans-serif;
  font-weight: 500;
  min-height: 100vh;
  color: #042651;
}

header {
  display: flex;
  position: relative;
  flex-direction: row;
  height: 6rem;
  align-items: center;
  margin-bottom: 2rem;
  box-shadow: 0px 8px 25px #000c1bce;
  background-color: rgba(4, 38, 81);
}

.sticky-header {
  position: fixed;
  top: 0;
  transition: all 1s ease;
  z-index: 3000;
  width: 100%;
  animation: slideDown 0.8s ease-in-out forwards;
}

@keyframes slideDown {
  0% {
    margin-top: -1000px;
  }
  100% {
    margin-top: 0;
  }
}
.left-icon {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 25%;
  margin-left: 2rem;
}
.left-icon img {
  height: 3.5rem;
  width: 3rem;
  object-fit: contain;
}

.left-icon-text {
  color: #ffc600;
  font-size: 1.5rem;
  margin-left: 0.8rem;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
}

.search-icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
}

.search-input {
  border: none;
  background-color: #1858ad42;
  width: 90%;
  margin: auto 0;
  align-self: center;
  border-radius: 10px;
  padding: 1rem;
}
.search-input::placeholder,
.search-icon {
  color: #ffffff6c;
}

.right-btn-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 25%;
  margin-right: 2rem;
}

.sign-out-text {
  color: #042651;
  background-color: #fff;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  border-radius: 50px;
  font-weight: 700;
  margin-right: 3rem;
  cursor: pointer;
  text-decoration: none;
}
.sign-out-wrapper {
  height: 1rem;
  width: 1rem;
  /* background-color: #fff; */
}
.sign-out-text:hover {
  background-color: #e6e6e6;
  transition: 1s;
}

.sign-out-icon {
  color: #042651;
}
.night-mode,
.day-mode {
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  display: inline-block;
}
ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2rem;
  width: 90%;
  margin: 0 auto;
}

li {
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  margin: 1rem 1.5rem;
  padding: 1rem;
  color: #042651;
  background-color: #fff;
  box-shadow: 10px 8px 25px #011937ce;
  transition: 0.5s;
  background-image: url(../img/grey.png);
  background-position: right bottom;
  background-size: 6rem;
  background-repeat: no-repeat;
}
